/* Footer */

.footer-main {
    @include add-background($dark-color);
    @include add-border($offset-0-5,$secondary-color,top);
    min-height:200px;
    padding:$offset-3 0;
    z-index:100;
    
    h3 {}
    
    a{
        color:#fff;
        @include set-opacity('semi');
        
        &:hover {@include set-opacity('full'); }
    }
    
    ul {
        padding:0;
    }
    
    li {
        line-height:1.8em;
        list-style:none;
    }
}