body{
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-font-line-height;
    color:$base-font-color;
    padding-top:68px;
}

a {
    color:$hyperlink-color;
}

ul,li {list-style: none;}

input,textarea,button{
    @include border-radius(0px);
}

img.device {
    width:100%;
}

img.device-small {
    width:70%;
    margin-bottom:-40px;
}