<div class="block block-secondary" ng-controller="videosCtrl">
    <h3><a href="/" ng-bind="title"></a></h3>
    
    <ul class="row boxWrap">
        <li ng-repeat="video in videos | limitTo : 1 : 0" class="box boxfeatured col-md-12 col-sm-12 col-xs-12">
            <a href="/">
<img
	alt="{{ imgDir + video.name }}"
	sizes="(min-width: 1000px) 930px, 90vw"
	data-srcset="{{ imgDir + video.image_large + ' 500w,'
		+ imgDir + video.image_large + ' 640w,'
		+ imgDirLarge + video.image_large + ' 1024w'}}"
	data-src="{{ imgDir + video.image_large }}"
	class="lazyload boxThumb">
                <span class="media-icon"><i class="fa fa-play"></i></span>
            </a>
        </li>
        <li ng-repeat="video in videos | startFrom : 1" class="box col-xs-4">
            <a href="/">
                <img class="boxThumb lazyload" data-src="{{ imgDir + video.image_large }}" alt="{{ video.name }}">
                <span class="media-icon"><i class="fa fa-play"></i></span>
            </a>
        </li>
    </ul>

</div>