<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Classic Car Restoration</h1>
            <p><strong>With over 20 years of experience in the classic car industry, we are well placed to advise on and carry out the best restoration work on your prized, classic or vintage vehicle</strong></p>
            <p>No matter how small or large a project, we deliver excellent results using our experience of repairing old body panels, the fitting and alignment of new body panels and welding work. We have carried out many body restorations with recent projects completed on prestigeous vehicles such as the Jaguar E-Type, Bentley R Type, MGB Roadster, Buick Coupe and Saab V4.</p>
            <p>We are happy to provide a complete, photographic record of the staged restoration to add to your vehicle's history file.&nbsp;</p>
        </div>
    </div>
</div>